<!--<div class="slider">-->

<!--  <div class="advantages">-->
<!--  <h1>Сыграй в Xbox</h1>-->
<!--  <ul>-->
<!--    <li>Обратная совместимость</li>-->
<!--    <li>Эксклюзивные игры от Microsoft</li>-->
<!--    <li>Многозадачность</li>-->
<!--    <li>Доступность</li>-->
<!--  </ul>-->
<!--    <button class="btn-green">ИГРАТЬ</button>-->
<!--  </div>-->
<!--  <div class="photo">-->
<!--    <img src="/assets/xbox.png" alt="" >-->
<!--  </div>-->
<!--</div>-->

<carousel>
  <slide>
    <img src="assets/images/nature/1.jpg" alt="first slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/nature/2.jpg" alt="second slide" style="display: block; width: 100%;">
  </slide>
  <slide>
    <img src="assets/images/nature/3.jpg" alt="third slide" style="display: block; width: 100%;">
  </slide>
</carousel>
