<footer>
  <div class="footer">
    <nav>
      <ul class="menu-footer">
        <li><a href=""></a>Xbox</li>
        <li><a href=""></a>Поддержка</li>
        <li><a href=""></a>Предупреждения</li>
        <li><a href=""></a>Правила поведения</li>
      </ul>
    </nav>
    <div class="footer-text">
      <p>Copyright © 2020</p>
    </div>
    <div class="social-network ">
      <img src="/assets/instagram.svg" alt="">
      <img src="/assets/twitter.svg" alt="">
      <img src="/assets/facebook.svg" alt="">
      <img src="/assets/pinterest.svg" alt="">
    </div>
  </div>


</footer>

