.footer {
  display: flex;
  flex-direction: row;
  height: 230px;
  background-color: #E5E5E5;
  justify-content: space-around;
}
.menu-footer {
  font-size: 20px;
}

.footer-text {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.social-network  {
  display: flex;
  justify-content: center;
  align-items: center;

}

.social-network img {
  height: 30px;
  margin: 0 20px;
}

li {
  list-style: none;
  line-height: 35px;
}
