<header>
  <div class="container">
    <img src="/assets/logo.svg" alt="" class="logo"><p>Game Planet</p>
    <nav>
      <ul class="menu">
        <li><a href=""></a>Подписки</li>
        <li><a href=""></a>Игры</li>
        <li><a href=""></a>Устройства</li>
        <li><a href=""></a>Xbox</li>
        <li><a href=""></a>Поддержка</li>
      </ul>
    </nav>
    <img src="/assets/shopping-cart.svg" alt="" class="cart">
    <img src="/assets/search.svg" alt="" class="search">
    <p class="search">Поиск</p>
  </div>


</header>
