<header>
  <div class="container">
    <div class="logo">
      <img src="/assets/logo.svg" alt="">
      <p class="logo-text">Game Planet</p>
    </div>
    <nav class="menu">
      <a href="">Подписки</a>
      <a href="">Игры</a>
      <a href="">Устройства</a>
      <a href="">Xbox</a>
      <a href="">Поддержка</a>
    </nav>

    <div class="side-nav">
      <img src="/assets/search.svg" alt="" class="search">
      <p class="search-text">Поиск</p>
      <img src="/assets/shopping-cart.svg" alt="" class="cart">
    </div>
  </div>


</header>
