.slider {
  display: flex;
  flex-direction: row;
  padding: 100px 100px 250px 100px;
  background-image: url(/assets/xbox.png) repeat-y;; /* Путь к фоновому изображению */
  background-color: black;
  justify-content: space-around;

}

img {
  height: 360px;
}
.photo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  }
.heading {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
}
h1 {
  font-size: 80px;
  color: #FFFFFF;
}

.advantages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: center;


}

li {
  list-style-type: none;
  line-height: 40px;
  color: #FFFFFF;
  font-size: 20px;

}
