@import "../../../styles/variables";

footer {
  display: flex;
  flex-direction: row;
  background-color: $footer-background;
  color: $footer-text;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.social-network, .copyright {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: $text-small;
  img {
    width: 20px;
    margin: 10px;
  }
}

.social-network {
  margin-bottom: 20px;
}
