<footer>
  <div class="social-network ">
    <a href="https://www.instagram.com/?hl=ru"><img src="assets/icons/instagram.svg" alt="instagram"></a>
    <a href="https://twitter.com/?lang=ru"><img src="assets/icons/twitter.svg" alt="twitter"></a>
    <a href="https://www.facebook.com/"><img src="assets/icons/facebook.svg" alt="facebook"></a>
    <a href="https://www.pinterest.com/"><img src="assets/icons/pinterest.svg" alt="pinterest"></a>
  </div>
  <div class="copyright">
    <p>Copyright © 2020</p>
  </div>
</footer>

