$header-background: #000;
$header-text: #fff;
$footer-background: #000;
$footer-text: #fff;
$color-black: #000;
$color-white: #fff;
$color-filter-title: #f0f0f0;
$color-filter-item: #fafafa;
$color-filter-hover: #e1e1e1;
$color-filter-active: #d5d5d5;

$text-small: 10px;
$text-medium: 14px;
$text-semi-big: 16px;
$text-big: 20px;

$btn-green: green;
