$header-background: #000;
$header-text: #fff;
$footer-background: #000;
$footer-text: #fff;
$color-black: #202D20;
$color-white: #fff;
$color-filter-title: #f0f0f0;
$color-filter-item: #fafafa;
$color-filter-hover: #e1e1e1;
$color-filter-active: #d5d5d5;
$color-green: #107C10;
$color-light-gray: #D7D7D7;

$text-small: 10px;
$text-medium: 14px;
$text-semi-big: 16px;
$text-semi-big2: 18px;
$text-big: 20px;
$text-very-big: 22px;

$btn-green: green;
