@import "_variables";

body {
  font-size: $text-medium;
}

.btn-green {
  background-color: $btn-green;
  color: $color-white;
  border-radius: 6px;
  font-size: $text-medium;
  padding: 5px 10px;
}

.carousel-control {
  &:hover {
    cursor: pointer;
  }
}
