@import "_variables";

body {
  font-size: $text-medium;
}

.btn-green {
  background-color: $btn-green;
  color: $color-white;
  border-radius: 6px;
  font-size: $text-medium;
  padding: 5px 10px;
  &:hover {
    border: 1px solid $color-green;
    filter: drop-shadow(2px 2px 3px $color-green);
  }
  &:disabled {
    opacity: 0.4;
    &:hover {
      cursor: default;
      filter: none;
    }
  }
}

.carousel-control {
  &:hover {
    cursor: pointer;
  }
}

.modal-dialog {
  top: calc(50% - 200px);
}

.login-modal {
  margin: 0;
  left: 60%;
  top: 15%;
  width: 35%;
  max-width: 350px;
  .modal-content {
    background-color: rgba(255,255,255, 0.9);
  }
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: auto;
  &:hover {
    white-space: normal;
    text-overflow: unset;
  }
}
