@import "../../../../styles/variables";

.content {
  display: flex;
  flex-direction: column;
}

.menu-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  a {
    padding: 30px;
    color: black;
    font-size: $text-big;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &.tab-active {
      font-weight: bold;
    }
  }
}

.menu-vertical {
  display: flex;
  flex-direction: column;
  a {
    color: black;
    font-weight: bold;
    font-size: $text-medium;
  }
}

.horizontal-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  span {
    font-size: $text-medium;
  }
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.games-content {
  display: flex;
}

.single-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    margin-right: 10px;
  }
  app-filter {
    width: auto;
  }
}

.side-filters {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  app-filter {
    margin-bottom: 20px;
  }
}

.cards-wrapper {
  padding: 15px;
}

app-game-card {
  padding: 10px 5px;
}
