<app-slider *ngIf="sliderGames.length" [games]="sliderGames"></app-slider>

<div class="content container">
  <div>
    <div class="menu-horizontal">
      <a (click)="selectGamesType('all')" [ngClass]="{'tab-active': gamesType === 'all'}">Игры</a>
      <a (click)="selectGamesType('soon')" [ngClass]="{'tab-active': gamesType === 'soon'}">Cкоро в продаже</a>
      <a (click)="selectGamesType('sub')" [ngClass]="{'tab-active': gamesType === 'sub'}">Подписки</a>
      <a (click)="selectGamesType('sale')" [ngClass]="{'tab-active': gamesType === 'sale'}">Распродажа</a>
    </div>
  </div>
  <div class="games-content">
    <aside class="side-filters col-3">
      <app-filter
      [title]="'Жанры'"
      [filterList]="sortingByGenre"
      [isMultiple]="true"
      (onFilterChange)="applyNewFilters($event, 'genre')"></app-filter>
      <app-filter
      [title]="'Год'"
      [filterList]="sortingByYear"
      [isMultiple]="true"
      (onFilterChange)="applyNewFilters($event, 'year')"></app-filter>
      <app-filter
      [title]="'Цена'"
      [filterList]="sortingByPrice"
      [isMultiple]="true"
      (onFilterChange)="applyNewFilters($event, 'price')"></app-filter>
    </aside>

    <main class="main-content col-9">
      <div class="horizontal-filters justify-content-end">
        <div class="single-filter">
          <span>Сортировать:</span>
          <app-filter
          [title]="sortingOptions[0].name"
          [filterList]="sortingOptions"
          [isAbsolute]="true"
          (onFilterChange)="applyNewFilters($event, 'main')"></app-filter>
        </div>
      </div>
      <div class="cards-wrapper row">
        <app-game-card
          class="col-xs-6 col-md-4"
          *ngFor="let game of filteredGames"
          [game]="game"
          routerLink="detail/{{game.id}}">
        </app-game-card>
      </div>
    </main>
  </div>
</div>

