@import "../../../styles/variables";

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  opacity: 0.7;
  color: $header-text;
}

.logo {
  display: inline-flex;
  align-items: center;
  margin: 20px 20px 20px 20%;
  &:hover {
    cursor: pointer;
  }
  img {
    width: 30px;
    margin-right: 30px;
  }
  p {
    margin: 0;
  }
}

.side-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10%;
  .search {
    input {
      margin-right: 20px;
      border-radius: 15px;
      padding: 10px;
      height: 30px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .cart {
    &:hover {
      cursor: pointer;
    }
  }
  div {
    padding-right: 20px;
  }
}

.header-wrap {
  background: $header-background;
}

.navigation-icon {
  width: 15px;
}
