<header>
  <div class="row header-wrap">
    <div class="col-6">
      <div class="logo" routerLink="/">
        <img src="assets/icons/logo.svg" alt="">
        <p class="logo-title">Game Time</p>
      </div>
    </div>
    <div class="col-6 side-nav">
      <div class="search">
        <input type="text" [hidden]="isSearchHidden" (blur)="showSearch()" #search [formControl]="searchControl">
        <img src="assets/icons/search.svg" alt="" class="navigation-icon" (click)="showSearch()">
      </div>
      <div class="cart">
        <img src="assets/icons/shopping-cart.svg" alt="" class="navigation-icon" routerLink="/shopping-cart">
      </div>
    </div>
  </div>
</header>
