<header class="container-fluid header-wrap">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="logo" routerLink="/">
          <img src="assets/icons/logo.svg" alt="">
          <p class="logo-title">Game Time</p>
        </div>
      </div>
      <div class="col-6 side-nav">
        <div class="search">
          <input type="text" [hidden]="isSearchHidden" (blur)="showSearch()" #search [formControl]="searchControl">
          <img src="assets/icons/search.svg" alt="" class="navigation-icon" (click)="showSearch()">
        </div>
        <div class="cart" routerLink="/shopping-cart">
          <img src="assets/icons/shopping-cart.svg" alt="" class="navigation-icon">
          <span class="cart-quantity" *ngIf="cartService.totalItemsQuantity">{{ cartService.totalItemsQuantity }}</span>
        </div>
        <div class="login" (click)="openLoginModal()" *ngIf="!isAuthorized">
          <img [src]="'assets/icons/profile.svg'" alt="" class="navigation-icon">
        </div>
        <div class="login" *ngIf="isAuthorized">
          <div class="authorized">
            {{currentUser}}
          </div>
          <img [src]="'assets/icons/avatar_authorized.svg'" alt="" class="navigation-icon">
        </div>
      </div>
    </div>
  </div>
</header>
