.container {
  width: 100%;
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding: 10px;
}

a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  color: white;
  padding: 40px;

}



 a:hover {
  color: #107C10;

}
.logo {
  display: flex;
  align-items: center;
  padding-left: 150px;
}

.logo img {
  height: 50px;
}

.logo-text {
  font-size: 20px;
  margin-left: 20px;
  font-family: Ubuntu;
}
.menu {
  display: flex;
  font-size: 20px;

}
.cart {
  display: flex;
  padding-left: 50px;
  padding-right: 150px;
}

.side-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.search {
}

.search-text {
  display: flex;
  font-size: 20px;
}

.side-nav img {
  height: 30px;
  margin: 0 20px;
}

