<app-slider [gallery]="game?.gallery"></app-slider>
<div class="container">
  <div class="short-info">
    <div class="row short-info-title">
      <div class="col-4">Сведения об игре:</div>
    </div>
    <div class="row top-info">
      <div class="col-2">
        <p class="top-info-title">Издатель: </p>
        <p>{{game?.publisher}}</p>
      </div>
      <div class="col-2">
        <p class="top-info-title">Разработчик: </p>
        <p>{{game?.developer}}</p>
      </div>
      <div class="col-2">
        <p class="top-info-title">Размер: </p>
        <p>{{game?.size}}</p>
      </div>
      <div class="col-2">
        <p class="top-info-title">Возраст: </p>
        <p>{{game?.age}}</p>
      </div>
      <div class="col-2">
        <p class="top-info-title">Категория: </p>
        <p>{{game?.category}}</p>
      </div>
      <div class="col-2">
        <p class="top-info-title">Дата выпуска: </p>
        <p>{{game?.date | date: 'dd/MM/yyyy'}} </p>
      </div>
    </div>
  </div>

  <div class="game-info row">
    <div class="side-filters col-3">
      <div [ngClass]="{'active': activeTab === 1}" (click)="activateTab(1)">Описание</div>
      <div [ngClass]="{'active': activeTab === 2}" (click)="activateTab(2)">Требования</div>
      <div [ngClass]="{'active': activeTab === 3}" (click)="activateTab(3)">Отзывы</div>
    </div>

    <!--description part-->
    <div class="main-content col-9" *ngIf="activeTab === 1">
      <div class="row">
        <div class="col-9 detail-info-block">
          <h1>{{game?.title}}</h1>
          <span>Жанр: <span class="genre">{{game?.genre}}</span></span>
          <span>Рейтинг: <app-rating [rate]="game?.rating" [readonly]="true"></app-rating></span>
        </div>
        <div class="col-3 price-block">
          <span>Цена: <span class="price">{{game?.price}} грн</span></span>
          <button class="btn-green" (click)="addToCart()">КУПИТЬ</button>
        </div>
      </div>
      <div class="row game-description">
        <div class="col-12">
          <p>{{game?.description}}</p>
        </div>
      </div>
    </div>
    <!--requirements part-->
    <div class="main-content col-9" *ngIf="activeTab === 2">
      <div class="row">
        <div class="requirement-title col-12">Рекомендованые</div>
        <div class="sub-requirement-title col-12">
          Устройство должно соответствовать этим требованиям для наилучшей работы:
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div>OC</div>
          <div>Архитектура</div>
        </div>
        <div class="col-4">
          <div>Xbox One</div>
          <div>х64</div>
        </div>
      </div>
    </div>
    <!--comments part-->
    <div class="main-content col-9" *ngIf="activeTab === 3">
      <div class="comment-block" *ngFor="let comment of [1,2,3,4]">
        <div class="row">
          <div class="col-3 avatar-block">
            <div class="avatar">Я</div>
            <div class="nickname">Ярослав</div>
          </div>
          <div class="col-7 text-block">
            <div class="comment-title">Super!</div>
            <div class="comment-description">Игра очень понравилась! Геймплей затягивает, графика супер,
              да и сеттинг, основанный на скандинавской мифологии, шикарен. Любителям дьябло рекомендую.
            </div>
          </div>
          <div class="col-2 date-block">
            <div class="comment-date">01.02.2020</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="recommendations col-12">
    <carousel [itemsPerSlide]="4"
              [singleSlideOffset]="true"
              [showIndicators]="false"
              [noWrap]="false">
      <slide *ngFor="let game of suggestionGames" routerLink="/detail/{{game?.id}}">
        <img [src]="game?.imgSrc" alt="">
        <div class="slide-description">
          <div class="slide-title">{{ game?.title }}</div>
          <app-rating [rate]="game?.rating" [readonly]="true"></app-rating>
          <div class="slide-price">{{game?.price}} грн</div>
        </div>
      </slide>
    </carousel>
  </div>
</div>
