<div class="filter-wrap">
  <button class="filter-button" (click)="openFilter()" [ngClass]="{'filter-active': isFilterOpened}">
    <img src="assets/icons/arrow-next.svg" alt="drop-down arrow">
    {{title}}
  </button>
  <div class="filter-list-wrapper">
    <ul class="filter-list" [hidden]="!isFilterOpened" [@panelInOut]="isFilterOpened" [ngClass]="{'absolute-list': isAbsolute}">
      <li class="filter-item"
          [ngClass]="{ 'filter-selected': filter.active }"
          *ngFor="let filter of filterList"
          (click)="selectFilter(filter)">
        {{filter.name}}
      </li>
    </ul>
  </div>
</div>
