/* You can add global styles to this file, and also import other style files */
.btn-green {
  padding: 15px 30px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 23px;
  font-weight: bold;
  width: 200px;
}

.btn-green:hover {
  filter: contrast(200);
  cursor: pointer;
}

