/* You can add global styles to this file, and also import other style files */
@import "styles/_base";
@import "styles/_variables";
@import "styles/styles";

@font-face {
  //font-family: 'OpenSans-Regular';
  //src: url('../assets/fonts/OpenSans-Regular.ttf');
}

.recommendations {
  img {
    border-radius: 6px;
    margin-bottom: 10px;
  }
  .item {
    &:hover {
      cursor: pointer;
    }
  }
  .carousel-control-prev-icon {
    background-image: url('/assets/icons/slider-prev.svg');
    width: 50px;
    height: 50px;
  }
  .carousel-control-next-icon {
    background-image: url('/assets/icons/slider-next.svg');
    width: 50px;
    height: 50px;
  }

  .carousel-control-prev {
    left: -10%;
  }
  .carousel-control-next {
    right: -10%;
  }

  .slide-description {
    font-size: $text-semi-big;
    .slide-title {
      font-weight: 500;
      margin-bottom: 10px;
    }

    .slide-price {
      font-weight: 500;
    }
  }
}
