<div class="content">
  <div>
    <div class="menu-horizontal">
      <a href="">Игры</a>
      <a href="">Cкоро в продаже</a>
      <a href="">Подписки</a>
      <a href="">Распродажа</a>
    </div>
    <div class="settings">
      <p>Сортировать :</p>
      <select name="sort" id="">
        <option value="">Названия A - Z</option>
        <option value="">Названия Z - A </option>
        <option value="">Популярные</option>
        <option value="">По убыванию</option>
        <option value="">По возрастанию</option>
      </select>
      <p>Валюта:</p>
      <select name="value" id="">
        <option value="">Гривна</option>
        <option value="">USD</option>
        <option value="">Рубль</option>
      </select>
    </div>
  </div>
  <div class="games-content">
    <div class="menu-vertical">
      <a href="">Фильтры</a>
      <a href="">Жанры</a>
      <a href="">Совместимые</a>
      <a href="">На двоих</a>
    </div>
    <app-item></app-item>
  </div>
</div>

