.content {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.menu-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-vertical {
  display: flex;
  flex-direction: column;
}

.menu-horizontal a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  color: black;
  padding: 40px;
  font-weight: bold;
  font-size: 23px;
}

.menu-vertical a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  color: black;
  padding: 30px;
  font-weight: bold;
  font-size: 23px;
}

.settings p{
  font-size: 20px;
}

.settings {
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

 select {
  font-size: 18px;
}

option{
  font-size: 16px;
}

.games-content {
  display: flex;
}



